<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FF Pickem</title>
    <link rel="stylesheet" type="text/css" src="./static/css/custom_bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <section class="hero is-dark is-fullheight">
        <nav class="navbar navbar-expand-sm navbar-dark is-dark">
            <a class="navbar-brand" href="/">FF Pickem</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbarLg" style="text-align: right;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('main.index') }}" class="navbar-item nav-link active">
                            Home
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('main.week_picks') }}" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pickem
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="background-color: #363636;"
                            aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" style="background-color: #363636;"
                                href="{{ url_for('main.week_picks') }}">
                                Weekly Pickem
                            </a>
                            <a class=" dropdown-item text-light" style="background-color: #363636;"
                                href="{{ url_for('main.picks_breakdown') }}">
                                Picks Breakdown
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.standings') }}" class="navbar-item nav-link active">
                            Standings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('main.settings') }}" class="navbar-item nav-link active">
                            User Settings
                        </a>
                    </li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="navbar-item nav-link active">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item nav-link active">
                            Sign Up
                        </a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item nav-link active">
                            Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>