{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<!-- Handle flashes that get triggered from signup -->
<div class="alert alert-{{ messages.0.0 }}" role="alert">
    {% for category, message in messages %}
    {{ message }} </br>
    {% endfor %}
</div>{% endif %}
{% endwith %}

<h1 class="title">
    User Settings
</h1>
<br>
<h6>
    To change your settings, edit the fields below and click "Submit" to save.
</h6>
<br>
<form method="POST" action="/settings">
    <table style="margin-left: auto; margin-right: auto; border-collapse:separate; border-spacing:0.5em;">
        <tr style="margin: 50px">
            <td style="vertical-align: middle; padding: 10px;">
                Display Name:
            </td>
            <td style="vertical-align: middle;">
                <div class="field">
                    <div class="control">
                        <input class="input is-medium" type="text" name="display_name" placeholder="{{display_name}}">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; padding: 10px;">
                Timezone:
            </td>
            <td style="vertical-align: middle;">
                <div class="select">
                    <select class="select is-medium" name="timezone">
                        {% for timezone in timezones %}
                        <option value='{{timezone}}' {% if timezone == user_timezone %} selected=" selected"
                            {% endif %}>
                            {{timezone}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <br>

    <button class="button is-block is-info is-large" style="margin: auto">Submit</button>
</form>

{% endblock %}