{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<!-- Handle flashes that get triggered from signup -->
<div class="alert alert-{{ messages.0.0 }}" role="alert">
    {% for category, message in messages %}
    {{ message }} </br>
    {% endfor %}
</div>{% endif %}
{% endwith %}

<h1 class="title">
    User Settings
</h1>
<br>

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td style="vertical-align: middle; padding: 10px;">
            Timezone:
        </td>
        <td style="vertical-align: middle;">
            <div class="select">
                <form method="POST" action="/settings">
                    <select name="timezone" style="background: #363636; color: #f5f5f5; border-color: #363636"
                        onchange="this.form.submit()">
                        {% for timezone in timezones %}
                        <option value='{{timezone}}' {% if timezone == user_timezone %} selected="selected" {% endif %}>
                            {{timezone}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </td>
    </tr>
</table>

{% endblock %}