{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<!-- Handle flashes that get triggered from signup -->
<div class="alert alert-{{ messages.0.0 }}" role="alert">
    {% for category, message in messages %}
    {{ message }} </br>
    {% endfor %}
</div>{% endif %}
{% endwith %}

<h1 class="title">
    Standings
</h1>

<table is-striped is-hoverable style="margin-left: auto; margin-right: auto;">
    <tr class="columns is-centered">
        <td style="display: inline-block; text-align: center; width: 12em;">
            <strong>Name</strong>
        </td>
        <td style="display: inline-block; text-align: center; width: 1em;">
            <strong>&nbsp;</strong>
        </td>
        <td style="display: inline-block; text-align: center; width: 5em;">
            <strong>Overall Record</strong>
        </td>
        <td style="display: inline-block; text-align: center; width: 4em;">
            <strong>Last Week</strong>
        </td>
    </tr>
    <br>
    {% for row in standings %}
    <tr>
        <td style="display: inline-block; text-align: center; width: 12em;">
            {{row[0]}}
        </td>
        <td style="display: inline-block; text-align: center; width: 1em;">
            <strong>&nbsp;</strong>
        </td>
        <td style="display: inline-block; text-align: center; width: 5em;">
            {{row[1]}} - {{row[2]}}
        </td>
        <td style="display: inline-block; text-align: center; width: 4em;">
            {{row[3]}} - {{row[4]}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}